.main-card1 {
    border-radius: 20px 20px 0px 0px !important;
    border-radius: 12px 12px 12px 12px !important
}

.Box {
    padding: 5px;
}

.balance-info {
    vertical-align: middle;
    height: 22px;
    line-height: 1 !important;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}

.info {
    background-color: #010000c7 !important;
    border-radius: 20px 20px 0px 0px;
    text-align: left;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    border-radius: 17px !important;
}