    .item-heading {
        font-family: Trebuchet MS, sans-serif !important;
    }
    
    .item-card {
        background-image: linear-gradient(to bottom, #efefef, #f3f3f3, #f6f7f7, #f9fbfa, #fefffd);
        border-radius: 20px;
    }
    
    .css-15ba552-MuiButtonBase-root-MuiButton-root:hover {
        -webkit-text-decoration: none;
        text-decoration: none;
        background-color: rgba(12, 12, 12, 0.04);
        border: 1px solid #001427;
        border-radius: 10px;
    }
    
    .cart-item {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
    
    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        border-radius: 20px !important;
    }