 .header {
     background-color: white !important;
     width: 100% !important;
     position: fixed !important;
     list-style-type: none;
     overflow: hidden;
     padding: 5px;
     padding-left: 0px;
     margin-bottom: 0px;
     margin-top: 0px;
     padding-top: 5px;
     padding-bottom: 0px;
     box-shadow: 0px 0px 0px 0px !important;
     z-index: 1;
 }
 
 .header-Icon {
     color: black;
 }
 
 #long-button {
     display: none;
 }
 
 .util-icon {
     float: right;
     margin-left: auto;
 }
 
 .menu-buttons {
     color: black !important;
 }
 
 @media only screen and (max-width: 590px) {
     .header {
         font-size: "14px" !important;
         width: 100% !important;
         margin: 0 auto;
         margin-right: 0px;
         position: fixed;
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         padding: 5px;
         padding-left: 0px;
         margin-bottom: 0px;
         margin-top: 0px;
         padding-top: 5px;
         padding-bottom: 0px;
         box-shadow: 0px;
     }
     .header-login {
         font-size: 12px !important;
         display: none !important;
     }
     .header-logout {
         font-size: 12px !important;
         display: none !important;
     }
     .header-Icon {
         color: black;
         margin-left: auto;
     }
     .util-icon {
         float: right;
         margin-left: auto;
     }
     #long-button {
         margin-left: 5px !important;
         color: white !important;
         display: block
     }
 }
 
 .css-12slcdh-MuiBadge-badge {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-align-content: center;
     -ms-flex-line-pack: center;
     align-content: center;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     position: absolute;
     box-sizing: border-box;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     font-weight: 600 !important;
     font-size: 0.55rem !important;
     min-width: 14px !important;
     line-height: 1;
     padding: 0 6px;
     height: 14px !important;
     border-radius: 10px;
     z-index: 1;
     -webkit-transition: -webkit-transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     background-color: #279bb0 !important;
     color: #fff;
     bottom: 0;
     right: 0;
     -webkit-transform: scale(1) translate(50%, 50%);
     -moz-transform: scale(1) translate(50%, 50%);
     -ms-transform: scale(1) translate(50%, 50%);
     transform: scale(1) translate(50%, 50%);
     transform-origin: 100% 100%;
 }